SuperheroSightings/src/main/resources/application.properties
SuperheroSightings/src/test/resources/application.properties
SuperheroSightings/src/main/java/com/skkzas/superherosightings/dto/ImageFolder.java
