<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org">

    <head>
        <meta http-equiv = "content-type" content = "text/html; charset=UTF-8">
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Superhero Sighting Tracker</title>
        <!-- Bootstrap core CSS -->
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity = "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin = "anonymous">
        <link rel = "stylesheet" href = "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
              integrity = "sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
              crossorigin = ""/>
        <!-- Custom styles for this template -->
        <link href = "../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel = "stylesheet">
        <link href = "../static/css/superheroSightingsStyles.css" th:href="@{/css/superheroSightingsStyles.css}" rel = "stylesheet">


        <style th:inline="text">
            .sidebar {
                /*Each page will get a different image for the sidebar. Change the image in the URL property below*/
                background-image: url([[@{/images/SightingsF.jpg}]]);
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: 50%;
            }
        </style>

    </head>

    <!--    INSTRUCTIONS:
        1. In the sidebar, change the span class to "currentPageLink" so that the current page is underlined.
        2. Don't forget to update the image in the CSS above to be for the correct page!
        3. For the table name, replace the contents of the specified h2. 
        4. For the form header, replace the contents of the specified h2 with class "formHeader".
        5. The following is a template of one item in a form. col-sizes are already fixed.
        <div class="form-group row">
            <label for="name" class="col-3 col-form-label">Name</label>
            <div class="col-9">
                <input type="text" name="name" id="name" class="form-control">
            </div>
        </div>
    -->

    <body>
        <!--<body>-->
        <nav class = "navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class = "navbar-brand col-sm-3 col-md-2 mr-0" href = "/">Superhero Tracker</a>
        </nav>

        <div class = "container-fluid">
            <div class = "row">
                <nav class = "col-md-2 d-none d-md-block bg-light sidebar">
                    <div class = "sidebar-sticky">
                        <ul class = "nav flex-column">
                            <li class = "nav-item">
                                <a class = "nav-link" href = "superheroes">
                                    <span class = "">Superheroes</span>
                                </a>
                            </li>
                            <li class = "nav-item">
                                <a class = "nav-link" href = "powers">
                                    <span class = "">Powers</span>
                                </a>
                            </li>
                            <li class = "nav-item">
                                <a class = "nav-link" href = "locations">
                                    <span class = "">Locations</span>
                                </a>
                            </li>
                            <li class = "nav-item">
                                <a class = "nav-link" href = "organizations">
                                    <span class = "">Organizations</span>
                                </a>
                            </li>
                            <li class = "nav-item">
                                <a class = "nav-link" href = "sightings">
                                    <span class = "currentPageLink">Sightings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav> <!-- end sidebar -->

                <main role = "main" class = "col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class = "content" style = "display: grid; grid-template-columns: 2fr 1fr;">

                        <div class = "left text-center m-3">

                            <!--TABLE HEADING BEGIN-->

                            <h2>Sightings</h2>

                            <!--TABLE HEADING END-->

                            <!--START OF TABLE-->

                            <table class = "table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Date</th>
                                        <th>Superhero Name</th>
                                        <th>Location Name</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each = "sighting, stat : ${allSightings}">
                                        <td><a href = "#" th:href = "@{sightingDetails(id=${sighting.sightingId})}"><span
                                                    th:text = "${stat.index+1}">#</span></a></td>
                                        <td th:text = "${#temporals.format(sighting.date, 'MM/dd/yyyy')}">Date</td>
                                        <td th:text = "${sighting.superhero.superheroName}">Superhero Name</td>
                                        <td th:text = "${sighting.location.locationName}">Location Name</td>
                                        <td><a href = "#" th:href = "@{/sightingEdit(id=${sighting.sightingId})}">Edit</a></td>
                                        <td><a href = "#" th:href = "@{/sightingDelete(id=${sighting.sightingId})}">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!--END OF TABLE-->
                        </div>
                        <div class = "right text-center m-3">

                            <!--FORM HEADER START-->

                            <h2 class = "formHeader">Add Sighting</h2>

                            <!--FORM HEADER END-->


                            <!--BEGIN ADD FORM-->

                            <form action = "addSighting" method = "POST">
                                <div class="col-12 m-1 text-center" 
                                     th:if="${!errors.isEmpty()}">
                                    <p class="alert alert-danger" th:each="error : ${errors}" 
                                       th:text="${error.message}">Error message</p>
                                </div>
                                <div class = "form-group row">
                                    <label for = "date" class = "col-3 col-form-label">Date</label>
                                    <div class = "col-9">
                                        <input type = "date" name = "date" id = "date" class = "form-control">
                                    </div>

                                </div>

                                <!--SELECTOR FOR THE SUPERHERO-->

                                <div class = "form-group row" id = "superheroExistingDiv">
                                    <label for = "superheroExisting" class = "col-3 col-form-label">
                                        Superhero</label>
                                    <div class = "col-9">
                                        <select id = "superheroExisting" name = "superheroExisting" class = "form-control">
                                            <option th:each = "superhero : ${allSuperheroes}"
                                                    th:value = "${superhero.superheroId}"
                                                    th:text = "${superhero.superheroName+' - '+superhero.power.powerName}">
                                                Superhero Name - Power Name
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <!--END SUPERHERO SELECTOR-->
                                <div class="form-group row" style="justify-content: center;">
                                    <span class="">Don't see the superhero you're looking for? Click <a href="" th:href = "@{/superheroes}">here</a> to add a superhero first.</span>
                                </div>
                                <!--START SELECT LOCATION-->

                                <div class = "form-group row" id = "locationExistingDiv">
                                    <label for = "locationExisting" class = "col-3 col-form-label">
                                        Location</label>
                                    <div class = "col-9">
                                        <select id = "locationExisting" name = "locationExisting" class = "form-control">
                                            <option th:each = "location : ${allLocations}"
                                                    th:value = "${location.locationId}"
                                                    th:text = "${location.locationName}">
                                                Location Name
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <!--END SELECT LOCATION-->
                                <div class="form-group row" style="justify-content: center;">
                                    <span class="">Don't see the location you're looking for? Click <a href="" th:href = "@{/locations}">here</a> to add a location first.</span>
                                </div>
                                <!--BEGIN BUTTON-->

                                <div id = "addSightingButtonDiv">
                                    <button id = "addSightingButton" type = "submit" name = "action" value = "add"
                                            class = "btn btn-primary col-12">
                                        Add Sighting
                                    </button>
                                </div>
                                <!--END BUTTON AND HIDDEN INPUTS-->

                            </form>

                            <!-- END OF FORM -->
                        </div>
                    </div>


                </main>
            </div>
        </div>

        <!-- Bootstrap core JavaScript =============== -->
        <script src = "https://code.jquery.com/jquery-3.5.1.min.js"
        integrity = "sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin = "anonymous"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity = "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin = "anonymous"></script>
        <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity = "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin = "anonymous"></script>
        <!-- Leaflet JS -->
        <script src = "https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
                integrity = "sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin = ""></script>
        <script>
            //Sets the date to have a max of today, prevents sightings in the future

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }

            today = yyyy + '-' + mm + '-' + dd;
            document.getElementById("date").setAttribute("max", today);
        </script>

        <script>
            //makes Location API Calls
            function makeCallGetLatitudeandLongitude() {
                var locationName = document.getElementById("locationName").value;
                var address = document.getElementById("address").value;
                var city = document.getElementById("city").value;
                var state = document.getElementById("state").value;
                var zip = document.getElementById("zip").value;
                var country = "USA";

                var urlForApi = "https://api.mapbox.com/geocoding/v5/mapbox.places/" + address + " " + city + " " + state + " " + zip + " " + country + ".json?access_token=pk.eyJ1Ijoic2hhemVuYSIsImEiOiJja2ZpeGhicnowNXBkMzVtcWo1bnBsNzdwIn0.0PQfe_ZktBVA1Vr6jUqt-w&cachebuster=1602054407321&autocomplete=false&country=us&limit=1";

                $.ajax({
                    method: 'GET',
                    url: urlForApi,
                    success: function (location, status) {
                        //getLatitude
                        //getLongitude
                        //set at center, zoom to 12 or something
                        //use latitude and longitude for marker. Add LocationName that they enter to be on the marker.
                        // alert(status);
                        var coordinateHolder = location.features[0].geometry.coordinates;

                        var longitude = coordinateHolder[0];
                        var latitude = coordinateHolder[1];

                        document.getElementById("longitude").value = longitude;
                        document.getElementById("latitude").value = latitude;

                        var mymap = L.map('map').setView([latitude, longitude], 18);

                        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic2hhemVuYSIsImEiOiJja2ZpeGhicnowNXBkMzVtcWo1bnBsNzdwIn0.0PQfe_ZktBVA1Vr6jUqt-w', {
                            maxZoom: 18,
                            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                            id: 'mapbox/streets-v11',
                            // tileSize: 512,
                            // zoomOffset: -1
                        }).addTo(mymap);


                        L.marker([latitude, longitude]).addTo(mymap).bindPopup(locationName).openPopup();
                        $('#locationConfirmationModal').modal('show');
                        $('#locationConfirmationModal').on('shown.bs.modal', function () {
                            mymap.invalidateSize();
                        });

                    },
                    error: function () {
                        alert("something went wrong...");

                    }
                });
            }


            function showConfirmationModal() {
                makeCallGetLatitudeandLongitude();
                $('#locationConfirmationModal').modal('show');
            }
        </script>


    </body>

</html>